# Configurações Django
SECRET_KEY=sua-chave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Banco de dados PostgreSQL
DATABASE_URL=postgres://usuario:senha@localhost:5432/siprac

# Configurações de e-mail (a definir)
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
